<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Github Buds - Keep up with all your friends on Github in 1 place</title>
    <meta name="description" content="A free HTML template and UI Kit built on Bootstrap" />
    <meta name="keywords" content="free html template, bootstrap, ui kit, sass" />
    <meta name="author" content="Peter Finlan and Taty Grassini Codrops" />
    <link rel="apple-touch-icon" sizes="57x57" href="../assets/img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../assets/img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../assets/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../assets/img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../assets/img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../assets/img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../assets/img/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../assets/img/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="../assets/img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="../assets/img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="../assets/img/favicon/manifest.json">
    <link rel="shortcut icon" href="../assets/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#663fb5">
    <meta name="msapplication-TileImage" content="../assets/img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="../assets/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#663fb5">
    <link rel="stylesheet" href="../assets/css/landio.css">
  </head>

  <body>

    <!-- Sign Up
    ================================================== -->

    <section class="section-signup bg-faded">
      <div class="container">
        <h3 class="text-xs-center m-b-3" style="font-weight:bold;color:#6c59b4;font-size:40px;">Github Buds <BR> <span style="font-weight:none;font-size:25px;">Keep up with all your friends on Github in 1 place</span></h3>
        <form (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-18 col-xl-9">
              <div class="form-group has-icon-left form-control-name">
                <label class="sr-only" for="username">Friend's Username</label>
                <input type="text" class="form-control form-control-lg" id="username" placeholder="Your friend's Github username" name="username" [(ngModel)]="username" />
              </div>
            </div>
            <div class="col-md-6 col-xl-3">
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">View Github Data for <BR> {{ username }} </button>
              </div>
            </div>
          </div>
          <label class="c-input c-checkbox">
            <input type="checkbox" checked>
            <span class="c-indicator"></span> I acknowledge that all data comes from Github API
          </label>
        </form>

        <div style="text-align:center;" *ngIf="this.isButtonVisible">
          <p>Name: {{ result.name }}</p>
  
          <p>Location: {{ result.location }}</p>
         
          <img [src]="result.avatar_url" />
          <!-- (click)="this.isButtonVisible = false" -->
          <BR>
          <a style="color:blue;font-style:underline;" [href]="result.html_url" target="_blank">Go to {{ username }}'s Profile</a>
          <BR>
          <a style="color:blue;font-style:underline;" [href]="result.blog" target="_blank">Go to {{ username }}'s Blog</a>
          <BR>
          <p>Public Repos: {{ result.public_repos }}</p>
          
          <p>Public Gists: {{ result.public_gists }}</p>
          
          <p>Github followers: {{ result.followers }}</p>
          
          <p>Profiles {{ username }} follows: {{ result.following }}</p>
          
          <p>Github Profile age: Since {{ result.created_at }}</p>
        </div>

      </div>
    </section>

    <!-- Features
    ================================================== -->

    <section class="section-features text-xs-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <span class="icon-pen display-1"></span>
                <h4 class="card-title">40 M</h4>
                <h6 class="card-subtitle text-muted">Github Users</h6>
                <p class="card-text">As of 01/2020, there are more than 40 million users on Github.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <span class="icon-thunderbolt display-1"></span>
                <h4 class="card-title">70%</h4>
                <h6 class="card-subtitle text-muted">Gothub users outside of U.S.</h6>
                <p class="card-text">Only 30% of Github users reside in the United States as of mid 2015.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card m-b-0">
              <div class="card-block">
                <span class="icon-heart display-1"></span>
                <h4 class="card-title">100 M</h4>
                <h6 class="card-subtitle text-muted">Github Repositories</h6>
                <p class="card-text">As of late 2018, there are over 100 million code repositories on Github.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer
    ================================================== -->

    <footer class="section-footer bg-inverse" role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-5">
            <div class="media">
              <div class="media-left">
                <span class="media-object icon-logo display-1"></span>
              </div>
              <small class="media-body media-bottom">
                &copy; Github Buds - A place to keep tabs on your dev friends <BR> by <a href="https://github.com/mauricedw22" target="_blank">Maurice W2</a>
              </small>
            </div>
          </div>
          <div class="col-md-6 col-lg-7">
            <ul class="nav nav-inline">
              <!-- <li class="nav-item">
                <a class="nav-link" href="index.html"><small>NEW</small> Slides<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="ui-elements.html">UI Kit</a></li> -->
              <li class="nav-item"><a class="nav-link" href="https://github.com/" target="_blank">GitHub</a></li>
              <li class="nav-item"><a class="nav-link scroll-top" href="#totop">Back to top <span class="icon-caret-up"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- <ul>
      <li><a [routerLink]="['/']">Home</a></li>
   </ul> -->

  <router-outlet></router-outlet>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../assets/js/landio.min.js"></script>
  </body>
</html>
